about-title {
  font-size: 45px;
  font-weight: 900;
}
.upper_text {
  font-size: 26px;
  
  /* line-height: 1.6; */
}
btm-about {
  height: 300vh;
}

.about-btn:hover {
  background-color: transparent !important;
  color: #dc3545 !important;
  border: 1px solid #dc3545 !important;
}
