.custom_accordion {
  color: white !important;
  background-color: #952b34 !important;
  /* border: solid 2px #b42a35 !important; */
  /* outline-style: none !important; */
  box-shadow: none !important;
}
/* .accordion-button::after {
  color: white !important;
} */
