/* Contact Bar */
.contact {
  color: white;
  background: #263238;
  font-size: 16px;
}

/* Navbar Links Styling */
.navbar-nav {
  gap: 30px;
  font-weight: 700;
  font-size: 20px;
}
.nav-link:hover {
  color: #dc3545 !important;
}
/* Responsive Adjustments */
@media (max-width: 768px) {
  .navbar-nav {
    gap: 15px;
    font-size: 16px;
  }

  .btn {
    font-size: 14px;
  }
}
