.footer {
  background-color: #263238;
}

.footer h4 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.social-links {
  display: flex;
  gap: 1rem;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50% !important;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.social-link:hover {
  transform: scale(1.1);
  background-color: red;
  border-color: red;
}

.social-link i {
  font-size: 1rem;
}

.footer a {
  transition: color 0.3s;
}

@media(max-width: 768px) {
  .social-links {
    justify-content: center;
  }
}